name: component_builder
description: Fluent Component Builder pattern to reduce widget nesting complexity in Flutter.
version: 0.0.2
homepage: https://github.com/AI-SoftwareArchitect/component_builder
repository: https://github.com/AI-SoftwareArchitect/component_builder

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

